extends layouts/layout.pug

block content
  div(class="level")
    div(class="level-item")
      div(class="field is-grouped")
        div(class="control")
          label(class="label") Summoner Name:&nbsp;#[span(class="has-text-weight-semibold" id="summoner-name") !{user.summonerName}]
          input(class="input" id="name-input" type="text" placeholder="Summoner Name")
          p(class="help is-success" id="form-status")
        div(class="control")
          label(class="label") Region
          div(class="select")
            select(id="region-input")
              option(value="na1") NA
              option(value="kr") KR
              option(value="euw1") EUW
              option(value="eun1") EUNE
              option(value="oc1") OCE 
              option(value="jp1") JP
              option(value="br1") BR
        div(class="control")
          label(class="label") &nbsp;
          button(class="button is-success" id="form-submit") Update

  section.has-text-centered
    .level
      .level-item
        h3.title Your Stats #{user.summonerName && `(${user.summonerName})`}
        if user.summonerId
          button(class="button is-warning is-light ml-4" id="btn-update") Refresh

    mixin stats(s, role)
      article.stats
        h4(class="title is-4") In #{role}
        div.level
          div.level-item
            div
              p.heading Games
              p(class="title is-3")= s.games
          div.level-item
            div
              p.heading Kills From Enemy Ganks
              p(class="title is-3")= s.games > 0 ? s.killsFromGanks : "N/A" 
          div.level-item
            div
              p.heading Deaths From Enemy Ganks
              p(class="title is-3")= s.games > 0 ? s.deathsFromGanks : "N/A" 
              //- TODO: Fix alignment
    #stats-container
      if user.stats
        +stats(user.stats.lane, 'Lane')
        .block &nbsp;
        +stats(user.stats.jungle, 'Jungle')
      else 
        h4(class="title is-4") No matches analyzed! 
        h5.subtitle Set your summoner name to get started.      

    div(class="mt-6 pt-4" id="stats-loader" style="display:none")
      .spinner 
        div
        div 
        div
        div
      h4(class="title is-4 mt-6") Analyzing your last 20 ranked games 
      h5.subtitle #[span(class="has-background-warning-light has-text-black") Warning: Navigating away from the page will cancel this process]

    //- TODO: Add stats error message for failed requests
    div(class="mt-6 pt-4" id="stats-error" style="display:none")

  script(src="/dashboard.js") 
