extends layouts/layout.pug

block content
  div(class="level")
    div(class="level-item")
      div(class="field is-grouped")
        div(class="control")
          label(class="label") Summoner Name:&nbsp;#[span(class="has-text-weight-semibold" id="summoner-name" data-region=user.region data-queue=user.queue) !{user.summonerName}]
          input(class="input" id="name-input" type="text" placeholder="Summoner Name")
          p(class="help is-success" id="form-status")
        div(class="control")
          label(class="label") Region
          div(class="select")
            select(id="region-input")
              option(value="na1") NA
              option(value="kr") KR
              option(value="euw1" ) EUW
              option(value="eun1") EUNE
              option(value="oc1") OCE 
              option(value="jp1") JP
              option(value="br1") BR
        div(class="control")
          label(class="label") Queue Type
          div(class="select")
            select(id="queue-input")
              option(value="ranked") Ranked
              option(value="draft") Normal
        div(class="control")
          label(class="label") &nbsp;
          button(class="button is-success" id="form-submit") Update

  section.has-text-centered
    .level
      .level-item
        if user.summonerId
          if user.stats
            h3.title#stats-title Stats for #[span#stats-owner= user.stats.summonerName]
          else 
            h3.title#stats-title No stats yet for #[span#stats-owner= user.summonerName]
          button(class="button is-warning is-light ml-4" id="btn-update") Refresh
        else 
          h3.title#stats-title No Summoner Set #[span#stats-owner]

    mixin stats(s, role)
      - const val = (v) => s.games > 0 ? v : 'N/A';
      - const avg = (v, p = 1) => val(Number.parseFloat(v).toFixed(p));
      - const [kfg, dfg] = [s.killsFromGanks, s.deathsFromGanks];
      - const kda = kfg / (dfg === 0 ? 1 : dfg);
      - const dif = kda === 0 ? 0.00 : Number.parseFloat(kda - 1).toFixed(2);
      - const totalGames = user.stats.lane.games + user.stats.jungle.games;
      article.container
        h4(class="title is-4") In #{role}
        div(class="columns")
          .column
            p.heading Games
            p(class="title is-3 mb-2")= s.games
            p.heading= `${Math.round((s.games / totalGames) * 100)}%`
          .column
            p.heading= role.toLowerCase() === 'jungle' ? 'Ganks resulting in kills' : 'Kills from enemy ganks'
            p(class="title is-3 mb-2")= val(kfg) 
            p.heading Avg !{avg(kfg / s.games)}
          .column
            p.heading= role.toLowerCase() === 'jungle' ? 'Ganks resulting in deaths' : 'Deaths from enemy ganks'
            p(class="title is-3 mb-2")= val(dfg) 
            p.heading Avg !{avg(dfg / s.games)}
          .column
            p.heading= 'Gank KDA'
            p(class="title is-3 mb-2")= avg(kda, 2)
            p(class="heading kda" data-value=avg(dif, 2) data-rel=(dif > 0 ? 'pos' : dif < 0 ? 'neg' : null))
    #stats-container
      if user.stats
        +stats(user.stats.lane, 'Lane')
        hr
        +stats(user.stats.jungle, 'Jungle')
      else 
        h4(class="title is-4") No matches analyzed! 
        h5.subtitle Set your summoner name to get started.      

    div(class="mt-6 pt-4" id="stats-loader" style="display:none")
      .spinner 
        div
        div 
        div
        div
      h4(class="title is-4 mt-6") Analyzing your last 20 matches 
      h5.subtitle #[span(class="has-background-warning-light has-text-warning-dark px-1") Warning: Navigating away from the page will cancel this process]

    div(class="mt-6 pt-4" id="stats-error" style="display:none")
      h4(class="title is-4 mt-6") Uh oh! Looks like the request failed
      p.subtitle #[span(class="has-background-danger-light has-text-danger-dark px-1" id="request-error") The server encountered an error processing the request or the request timed out.]<br>You can submit another request by updating Summoner Name or clicking the #[span.has-text-warning-dark Refresh] button.
      a#dismiss-error Click here to dismiss this message

  script(src="/index.js") 
